.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .postAuthor{
    display: flex;

    .typographyMargin {
      margin-left: 1rem;
    }
  }

  .optionsIcon {
    display: flex;
    flex-direction: column;

    .circle {
      width: .25rem;
      height: .25rem;
      border-radius: .25rem;
      margin: 2px;
      background-color: #808080;
    }
  }
}