.post-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .left-section{
    display: flex;

    .typography-margin {
      margin-left: 1rem;
    }
  }

  .options-icon {
    display: flex;
    flex-direction: column;

    &-circle {
      width: .25rem;
      height: .25rem;
      border-radius: .25rem;
      margin: 2px;
      background-color: #808080;
    }
  }
}