@import './src/assets/styles/mixins';

.content{
  display: flex;
  justify-content: center;
  max-width: 60rem;

  .userInfo {
    display: inline;
  }
}

@include tablet {
  .content{
    .userInfo {
      display: none;
    }
  }
}