@import './src/assets/styles/mixins';

.content-container{
  display: flex;
  justify-content: center;
  max-width: 60rem;

  .user-info-container {
    display: inline;
  }
}

@include tablet {
  .content-container{
    .user-info-container {
      display: none;
    }
  }
}