.typography {
  font-family: Poppins, serif;
  font-weight: 500;
  margin: 0;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.primary {
  color: #808080;
}

.secondary {
  color: #000000;
}

.white {
  color: #FFFFFF;
}

.small {
  font-size: .75rem;
}

.medium {
  font-size: 1rem;
}

.large {
  font-size: 2.25rem;
}