.button {
  display: flex;
  cursor: pointer;

  .icon{
    width: 1.5rem;
    height: 1.5rem;
  }
}

.reverse {
  flex-direction: row-reverse;

  .icon {
    margin-left: .5rem;
  }
}

.normal {
  .text{
    margin-left: .5rem;
  }
}