.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 35rem;
  margin-top: 3.25rem;

  &-photo {
    width: 35rem;
    height: 35rem;
    border-radius: 3rem;
    margin-top: 1rem;
  }

  &-description {
    height: 4.5rem;
    margin-top: 1.25rem !important;
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    &-left-section {
      display: flex;

      .comment-button-margin {
        margin-left: 2.5rem;
      }
    }
  }
}