.avatar {
  border: .5px solid #C9CAD1;
  box-sizing: border-box;
  border-radius: 0.75rem;
}

.small {
  width: 2.5rem;
  height: 2.5rem;
}

.medium {
  width: 3.5rem;
  height: 3.5rem;
}

.large {
  width: 5rem;
  height: 5rem;
}
